.button {
	@include reset-btn;

	$this: &;

	display: inline-flex;
	align-items: center;
	column-gap: rem(12);
	padding: rem(16) rem(20);
	border-radius: rem(8);
	font-size: var(--button-font-size);
	line-height: 1.1;
	font-weight: 500;
	transition: opacity $default-transition-duration $default-transition-function;

	@include desktop {
		&:hover {
			opacity: 0.8;
		}
	}
	&._light {
		background-color: var(--color-accent-bg);
		color: var(--color-base-text);
	}
	&._dark {
		background-color: var(--color-accent-bg-2);
		color: var(--color-base-text-2);
	}
	&._menu {
		flex-direction: row-reverse;
	}
	&__icon {
		height: auto;
		#{$this}._menu & {
			width: rem(27);
		}
	}
}
