<!DOCTYPE html>
<html class="page _loading" lang="{{ site.lang }}">

<head>
	<title>{{ site.title }}</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/assets/styles/index.css?{% hash %}">

	{% include "./_head-scripts.njk" %}

	<script defer src="/assets/scripts/index.js?{% hash %}"></script>
</head>

<body class="page__body">
	{% svgSprite %}

	{{ content | safe }}
</body>

</html>
