.header {
	position: relative;
	padding: rem(20) 0;
	&__container {
		display: flex;
		justify-content: space-between;
		gap: rem(20);
	}
	&__nav {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: rem(20);
	}
	&__logo-icon {
		width: rem(49);
		height: auto;
		color: var(--color-base-text);
	}
}
