@import 'lib/mixins';

$default-transition-duration: 0.3s;
$fast-transition-duration: 0.15s;
$default-transition-function: ease-out;

$desktop-lg: 1920px;
$desktop: 1440px;
$tablet: 960px;
$mobile: 320px;

html {
	--container-max-width: #{rem(1400)};
	--container-padding: #{rem(20)};

	--button-font-size: #{rem(28)};

	@media (width <= $tablet) {
		--container-padding: #{rem(10)};

		--button-font-size: #{rem(22)};
	}

	@media (width <= $mobile) {
		--container-padding: #{rem(10)};

		--button-font-size: #{rem(18)};
	}
}
