.container {
	margin-inline: auto;
	width: min(var(--container-max-width), 100% - (var(--container-padding) * 2));
}

.page {
	&__body {
		display: flex;
		flex-direction: column;
	}
	&__main {
		flex-grow: 1;
	}
}
