:root {
	--color-base-text: #fff;
	--color-base-text-2: #111213;
	--color-site-bg: #111213;
	--color-accent-bg: #292929;
	--color-accent-bg-2: #fff;
	--ball-color: #3e51ff;
	--paddle-color: #fff;
	--bricks-color: #{rgba(#fff, 0.3)};

	color-scheme: dark;
}
