:root {
	--color-base-text: #111213;
	--color-base-text-2: #fff;
	--color-site-bg: #eee;
	--color-accent-bg: #fff;
	--color-accent-bg-2: #111213;
	--ball-color: #0019ff;
	--paddle-color: #111213;
	--bricks-color: #{rgba(#111213, 0.3)};

	color-scheme: light;
}
